* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --black: #000000;
    --white: #ffffff;
    --shadow: rgba(17, 17, 26, 0.3);
    --dark-liver: #584B53;
    --rose-dust: #9D5C63;
    --periwinkle-crayola: #D6E3F8;
    --seashell: #FEF5EF;
    --burlywood: #E4BB97;
}

html{
    scroll-behavior: smooth;
    font-size: 18px;
    font-family: "Cutive Mono";
    min-width: 320px;
}

body{
    position: relative;
    background-color: var(--seashell);
}

.overflow-hidden-on-mobile{
    position: relative;
    overflow-x: hidden;
}

.large-conteners{
    margin: 2rem auto;
    width: 95vw;
    box-shadow: 0px 5px 10px 0px var(--shadow);
}

/*-------------------------Header-------------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--burlywood);
    box-shadow: 0px 5px 10px 0px var(--shadow);
}

.header-logo{
    display: flex;
    margin: 5px;
}

.header-logo img{
    min-width: 80px;
    max-width: 120px;
    width: 10vw;
}

.nav-list-item:last-of-type img{
    display: flex;
    align-items: center;

}

.nav-checkbox{
    display: none;
}

.nav-checkbox-button{
    position: relative;
    overflow-x: hidden;
    margin-right: 10px;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.nav-checkbox-line{
    width: 25px;
    height: 3px;
    background-color: var(--black);
    transition: 0.3s; 
}

.nav-checkbox-line:nth-of-type(2){
    margin-right: 2px;
    width: 18px;
    align-self: flex-end;
}

.nav-list{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    position: absolute;
    top:66px;
    width: 30vw;
    right: -200px;
    min-width: 170px;
    max-width: 200px;
    background: var(--burlywood);
    visibility: hidden;
    transition: 0.4s, visibility 0.4s;
    box-shadow: 0px 5px 5px 0px var(--shadow);
}

.nav-list-item{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.2rem;
}

.nav-list-item a{
 color: var(--black);
 padding: 10px 0;
 margin: 1vh 0;
 text-decoration: none;
}

.nav-checkbox:checked ~ .nav-list{
    right: 0;
    visibility: visible;
}

.nav-list-item a:hover{
    color:var(--periwinkle-crayola);
}

.nav-checkbox:checked ~ .nav-checkbox-button .nav-checkbox-line:nth-of-type(1){
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    transform: rotate(45deg);
}

.nav-checkbox:checked ~ .nav-checkbox-button .nav-checkbox-line:nth-of-type(2){
    transition: transform 0.2s ease-in-out;
    transform: scaleY(0);
}

.nav-checkbox:checked ~ .nav-checkbox-button .nav-checkbox-line:nth-of-type(3){
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    transform: rotate(-45deg);
}

/*---------------------------About me--------------------------*/
#about{
    background-color: var(--periwinkle-crayola);
    display: flex;
}

.aboutme {
    background-color: var(--rose-dust);
    color: var(--white);
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.aboutme p{
    padding: 0.5rem;
}

#about img{
    display: none;
    align-self: flex-end;
    padding: 1rem 1rem 0 1rem;
}

/*-------------------------Experiences------------------------*/
#experience{
    background-color: var(--dark-liver);
    color: var(--white);
    line-height: 1.5rem;
    list-style: circle;
}

#experience h2{
    text-align: center;
    padding: 1rem;
}
.experiences li{
    list-style: square;
    margin: 0.5rem 2rem;
}

.experiences{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.web-developer{
    background-color: var(--burlywood);
    color: var(--black);
    padding: 0.5rem;
}

.system-admin{
    padding: 0.5rem;
    background-color: var(--rose-dust);
    color: var(--white);
}

/*-------------------------Works------------------------*/
#work{
    background-color: var(--periwinkle-crayola);
}

#work h2{
    text-align: center;
    padding: 1rem;
}

.work { 
    display: flex;
    flex-direction: column;
}

.work img{
    width: 90%;
    align-self: center;
}

.work h3{
    padding: 0.5rem;
    text-align: center;
}

.work p{
    padding: 0.5rem 1rem 1rem 1rem;
}

.works{
    display: flex;
    flex-direction: column;
}

.work1, .work4{
    background-color: var(--dark-liver);
    color: var(--white);
}

.work2{
    background-color: var(--burlywood);
}

.work3{
    background-color: var(--rose-dust);
    color: var(--white);
}

.work-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.work-link img{
    width: 1.5rem;
}

.work-link img:hover{
    filter: invert(88%) sepia(92%) saturate(5845%) hue-rotate(178deg) brightness(104%) contrast(95%);
}

.work-link-dark img{
    filter: invert(100%);
}

.work-link-dark img:hover{
    filter: invert(83%) sepia(19%) saturate(707%) hue-rotate(335deg) brightness(93%) contrast(92%);
}

/*-------------------------Contact-------------------------*/
#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5rem;
}

.contact-text{
    background-color: var(--rose-dust);
    color:var(--white);
}

.contact-text h2{
    padding: 1rem;
}

.contact-text p{
    padding: 0 1rem 1rem 1.5rem;
}

.contact-links{
    display: flex;
    background-color: var(--periwinkle-crayola);
    justify-content: center;
}

.contact-links-items {
    padding: 1rem 0;
    display: flex;
    gap:3rem;
}

.contact-links-items img{
    display: flex;
    width: 1.5rem;
}

.contact-links-items img:hover{
    filter: invert(83%) sepia(19%) saturate(707%) hue-rotate(335deg) brightness(93%) contrast(92%);
}

.contact-items{
    background-color: var(--dark-liver);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.contact-item{
    background: var(--burlywood);
    border: none;
    padding: 0.5rem;
    width: 90%;
    color: var(--white);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.contact-item:focus{
    background: var(--rose-dust);
    outline: none;
}

.contact-items textarea{
    height: 10rem;
    resize: vertical;
    min-height: 4rem;
}

.contact-item-submit{
    cursor: pointer;
    background-color: var(--periwinkle-crayola);
    border: none;
    width: 90%;
    color: var(--black);
    padding: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contact-item-submit:hover{
    background-color: var(--seashell);
}

.contact-item::placeholder{
    color: var(--white);
}

/*-------------------------Footer-------------------------*/
footer{
    text-align: center;
    background-color: var(--burlywood);
    padding: 1rem;
}

.back-to-top {
    position: absolute;
    top: 0px;
    right:0;
    height: 100%;
    max-width: 0px;
}

.back-to-top:before {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
}
  
.back-to-top img {
    position: sticky;
    margin-left: -36px;
    width: 2rem;
    top: 91vh;
    cursor: pointer;
    opacity: 0.5;
}

.back-to-top img:hover {
    opacity: 1;
}

/*-------------------------Responsible-------------------------*/
@media (min-width: 576px) {
    .works{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .work1, .work2, .work3, .work4{
        width:50%
    }

}

@media (min-width: 768px) {
    .large-conteners{
            margin: 3rem auto;
    }

    .nav-list{
        visibility: visible;
        right: 15vw;
        width: auto;
        min-width:auto;
        max-width:none;
        position: static;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        box-shadow:0 0;
        gap: 1.5vw;
        transition:none;
        padding:1vw;
    }

    .nav-list-item a, img{
        padding:2px 0;
        margin: 0; 
        text-decoration: none;
        color: var(--black);
    }

    #about img{
        display: block;
        align-self: flex-end;
        padding: 1rem 1rem 0 1rem;
    }

    .nav-checkbox-button{
        display: none;
    }

    .experiences{
        flex-direction: row;
    }

    .system-admin{
        width:50%;
    }

    .web-developer{
        width:50%;
    }

    #contact{
        flex-direction: row;
    }

    .contact-text{
        width:45%;
    }

    .contact-links{
        width: 10%;
    }

    .contact-links-items{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .contact-form{
        width:45%;
    }

    .back-to-top img {
        width: 2.5rem;
        margin-left: -45px;
    }

}

@media (min-width: 992px) {
    .large-conteners{
        margin: 3.5rem auto;
        width: 90vw;
    }

    .nav-list-item{
        font-size: 1.5rem;
    }

    .aboutme {
        padding: 2.5rem;
        font-size: 1.3rem;
        line-height: 2.2rem;  
    }

    .work-link img{
        width: 2rem;
    }

    .contact-links-items img{
        width: 2rem;
    }

}

@media (min-width: 1200px) {
    .large-conteners{
        margin: 4rem auto;
    }

    .aboutme {
        padding: 3rem;
        font-size: 1.5rem;
        line-height: 3rem;  
    }

    .work1, .work2, .work3, .work4{
        width:25%
    }

    .back-to-top img {
        margin-left: -50px;
        width: 2.5rem;
        top: 93vh;
    }

}

@media (min-width: 1400px) {
    .large-conteners{
        width: 85vw;
    }

    .contact-item-submit{
        width: 50%;
    }

    .contact-item{
        width: 80%;
    }

    .back-to-top img {
        margin-left: -80px;
        width: 3rem;
    }

}

@media (min-width: 1880px) {
    .aboutme {
        width:70%;
    }

    #about img {
        margin: 0 auto;
    }
}